@media screen and (max-width: 1024px) {
  .header {
    height: 10vh;
    padding-top: 4%;
    text-align: center;
    font-size: 20px;
    background-color: rgb(33, 148, 140);
    color: #efebeb;
  }
}

