@media screen and (max-width: 1024px) {
  .logo {
    height: 51vh;
    opacity: 0.8;
    background-image: asset-url("logo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  .control-panel {
    margin: 0 2%;

    .panel-header {
      height: 8vh;

      span{
        margin-left: 1%;
        vertical-align: middle;
      }

      img{
        width: 15%;
        height: 100%;
      }
    }

    ul {
      margin-bottom: 0;

      li {
        height: 7vh;
        padding-top: 2%;
        list-style-type: none;
        border-top: 2px solid rgba(241, 146, 7, 0.62);

        span {
          margin-left: 3%;
        }

        div {
          position: absolute;
          right: 6%;
        }
      }
    }
  }
}