@media screen and (max-width: 1024px) {

  .title {
    height: 10%;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #c3c8ce;
  }

  .logo {
    height: 800px;
    opacity: 0.4;
    background-image: asset-url("logo.png");
    background-repeat:no-repeat;
    background-size:auto 100%;
  }
}