@media screen and (max-width: 1024px) {
  .ss-nav-panel {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 9vh;
    width: 100%;
    border-top: 2px solid #eee;

    .ss-nav {
      display: inline-block;
      margin-top: 1.5vh;
      width: 24%;
      font-size: 12px;
      text-align: center;
      text-decoration: none;

      span {
        font-size: 21px;
        color: rgb(33, 148, 140);
      }

      .ss-icon-tag {
        font-size: 13px;
        display: block;
      }
    }
  }
}