@media screen and (max-width: 1024px) {
  .ss-nav-panel {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 9vh;
    width: 100%;
    border-top: 2px solid #eee;
    margin: 0;

    a.ss-nav {
      display: inline-block;
      width: 25%;
      height: 100%;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      padding-top: 1.5vh;
      background-color: #f5f5f6;


      &.active {
        background-color: white;
      }

      span {
        font-size: 21px;
        color: rgb(33, 148, 140);
      }

      .ss-icon-tag {
        font-size: 13px;
        display: block;
      }
    }
  }
}