.image-panel {
  .box {
    margin: 5px 5px;

    .img1 {
      width: 60%;
      height: 24vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }

    .img2 {
      width: 39%;
      height: 24vh;
    }

    .img3 {
      margin-left: 27%;
      width: 73%;
      height: 25vh;
    }

    .img4 {
      width: 73%;
      height: 28vh;
      display: inline-block;
    }

    .disable {
      filter: gray;
      -webkit-filter: grayscale(100%);
    }
  }
}