doctype html
html
  head
    title SmartSwitch
    meta name="viewport" content="width=device-width, initial-scale=1"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    = render 'layouts/header'
    == yield
    = render 'layouts/nav_panel'

javascript:
  var dispatcher = function () {
    var dispatcher = new WebSocketRails(window.location.host + "/websocket");

    dispatcher.bind('light.switch_on_success', function (args) {
      console.log('turn on success');
      $('#light' + args['light_id']).removeClass('disable');
    });

    dispatcher.bind('light.switch_off_success', function (args) {
      console.log('turn off success');
      $('#light' + args['light_id']).addClass('disable');
    });

    dispatcher.bind('light.delay_switch_off', function (args) {
      console.log('delay turn off');
      var selector = $('#light' + args['light_id']);
      selector.parent().find('.overlay').show();
    });

    return dispatcher;
  };

  var SMARTCONTROL = SMARTCONTROL || {'dispatcher': dispatcher()} ;
