doctype html
html
  head
    title SmartSwitch
    meta name="viewport" content="width=device-width, initial-scale=1"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    = render 'layouts/header'
    == yield
    = render 'layouts/nav_panel'

javascript:

  var TIMER_JOBS = TIMER_JOBS || [];
  var dispatcher = function () {
    var dispatcher = new WebSocketRails(window.location.host + "/websocket");

    dispatcher.bind('light.section_switch_on_success', function (args) {
      console.log('section turn on success');
      var section = args['section'];
      $('#'+section).prop("checked", true)
    });

    dispatcher.bind('light.section_switch_off_success', function (args) {
      console.log('section turn off success');
      var section = args['section'];
      $('#'+section).prop("checked", false)
    });

    dispatcher.bind('light.switch_on_success', function (args) {
      console.log('turn on success');
      $('#light' + args['light_id']).removeClass('disable');
    });

    dispatcher.bind('light.switch_off_success', function (args) {
      console.log('turn off success');
      var selector = $('#light' + args['light_id']);
      selector.addClass('disable');
      selector.parent().find('.overlay').hide();
      if (TIMER_JOBS[args['light_id']]) {
        console.log("Delete the timer for light: "+ args['light_id']);
        clearTimeout(TIMER_JOBS[args['light_id']]);
      }
    });

    dispatcher.bind('light.delay_switch_off', function (args) {
      console.log('delay turn off');
      var selector = $('#light' + args['light_id']);
      selector.parent().find('.overlay').show();

      var timerId = setInterval(function () {
        console.log("Interval loop light status for light_id: " + args['light_id']);
        SMARTCONTROL.dispatcher.trigger('light.check_delay', {light_id: args['light_id']});
      }, 5000);
      TIMER_JOBS[args['light_id']] = timerId;
      console.log(TIMER_JOBS)
    });

    return dispatcher;
  };

  var SMARTCONTROL = SMARTCONTROL || {'dispatcher': dispatcher()} ;
